<div
  class="container"
  style="padding-block: 24px">
  <app-page-title-more 
    title="Best sellers of the week" 
    moreButtonDescription="See more" 
    [moreButtonActionCallback]="this.onMoreButtonPressed"></app-page-title-more>
  <div
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutGap="16px grid"
    [@stagger]="products.length"
    @fade>
    <div
      fxFlex.lt-md="50"
      fxFlex.md="33"
      fxFlex="25"
      *ngFor="let product of products">
      <app-shopping-product-card [product]="product"></app-shopping-product-card>
    </div>
  </div>
</div>
