<mat-toolbar class="toolbar">
  <mat-toolbar-row class="container">
    <span
      [routerLink]="['/']"
      routerLinkActive="router-link-active">
      SamStore
    </span>

    <span class="spacer"></span>
    <button
      *ngIf="this.logado"
      mat-icon-button
      matTooltip="notifications"
      class="icon-button notifications-icon-button">
      <mat-icon
        matBadge="6"
        matBadgeColor="warn"
        >notifications</mat-icon
      >
    </button>
    <button
      *ngIf="logado; else enableLoginButton"
      mat-icon-button
      [matTooltip]="userEmail"
      class="icon-button account-icon-button">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<ng-template #enableLoginButton>
  <button
    mat-button
    class="icon-button account-icon-button"
    [routerLink]="['/account/login']">
    Login
  </button>
  <button
    mat-button
    class="icon-button account-icon-button"
    [routerLink]="['/account/register']"
    routerLinkActive="router-link-active">
    Register
  </button>
</ng-template>
