<mat-toolbar
  class="toolbar"
  color="primary">
  <mat-toolbar-row class="container">
    <span
      id="logo-name"
      [routerLink]="['/']">
      SamStore
    </span>

    <span class="spacer"></span>
    <button
      mat-icon-button
      class="icon-button notifications-icon-button"
      (click)="this.openShoppingCartModal()">
      <mat-icon
        matBadge="{{ this.shoppingCartService.shoppingCart?.items?.length ?? 0 }}"
        matBadgeSize="small"
        matBadgeColor="accent">shopping_cart</mat-icon
      >
    </button>
    <button
      *ngIf="logado; else loggedOut"
      mat-icon-button
      [matTooltip]="userEmail"
      (click)="logout()"
      class="icon-button account-icon-button">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<ng-template #loggedOut>
  <span class="account-buttons-container">
    <a [routerLink]="['/account/register']">Create account</a> | <a [routerLink]="['/account/login']">Login</a>
  </span>
</ng-template>
