<mat-toolbar
	class="toolbar"
	color="primary"
	*ngIf="this.validateShowNavbar == false || (this.validateShowNavbar == true && this.showNavbar == true)">
	<mat-toolbar-row class="container">
		<span
			id="logo-name"
			[routerLink]="['/']">
			SamStore
		</span>
		<span class="spacer"></span>
		<button
			mat-icon-button
			class="icon-button notifications-icon-button"
			(click)="this.shoppingCartService.openShoppingCartModal()">
			<mat-icon
				[matBadge]="this.calculateTotalQuantityItems()"
				matBadgeSize="small"
				matBadgeColor="accent"
				[matBadgeDisabled]="this.loadingService.isLoading()"
				>shopping_cart</mat-icon
			>
		</button>
		<button
			*ngIf="logado; else loggedOut"
			mat-icon-button
			[matMenuTriggerFor]="menuRef"
			class="icon-button account-icon-button">
			<mat-icon>account_circle</mat-icon>
		</button>
		<mat-menu
			#menuRef="matMenu"
			xPosition="before"
			open>
			<button mat-menu-item>
				<span>Account</span>
			</button>
			<button mat-menu-item>
				<span>Orders</span>
			</button>
			<button mat-menu-item>
				<span>Feedback</span>
			</button>
			<mat-divider></mat-divider>
			<button
				class="logout-button"
				mat-menu-item
				(click)="this.logout()">
				<span>Logout</span>
			</button>
		</mat-menu>
	</mat-toolbar-row>
</mat-toolbar>

<ng-template #loggedOut>
	<span class="account-buttons-container">
		<a [routerLink]="['/account/register']">Create account</a> | <a [routerLink]="['/account/login']">Login</a>
	</span>
</ng-template>
