#logo-name{
  user-select: none;
  cursor: pointer;
  transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-size: larger;

  &:hover{
    text-shadow: 0 0 5px rgba($color: #fff, $alpha: 0.4);
  }
}

.spacer {
  flex: 1 1 auto;
}

span.register-text-container {
  margin-left: 5px;
  font-size: small;
}

.account-buttons-container {
  padding-left: 8px;
}

.account-buttons-container a{
  color: white;
  text-decoration: none;
  font-size: small;
}
