@import "src/_palettes.scss";

.no-content-icon {
	font-size: 64px;
	height: 64px;
	width: 64px;
}

@keyframes ContainerInit {
	from {
		opacity: 0;
	}to {
		opacity: 100%;
	}	
}

.no-content-container {
	text-align: center;
	margin-block: 42px;
	animation: ContainerInit 0.4s forwards cubic-bezier(0.46,0.03,0.52,0.96);

	h2 {
		margin-block: 8px;
	}
}

.items-container {
	margin-bottom: 24px;
	max-height: calc(100vh - 400px); 
	overflow-y: overlay; 
	box-sizing: border-box;
	animation: ContainerInit 0.4s forwards cubic-bezier(0.25,0.46,0.45,0.94);

	h3 {
		font-weight: bold;
		margin: 0;
	}

	.mat-mdc-cell {
		vertical-align: middle;
		max-height: 135px;
		padding: 12px;
	}

	.mat-mdc-row {
		transition: background-color 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);

		&:hover {
			background-color: #EFEFEF;
		}	
	}

	.mat-column-image {
		&.mat-mdc-cell {
			width: 128px !important;
			height: 128px !important;
		}

		h3 {
			padding-left: 12px;
		}

		img {
			max-width: 128px;
			max-height: 128px;
			object-fit: cover;
			border-radius: 8px;
			transition: box-shadow 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

			&:hover {
				box-shadow: 0 0 0px 3px rgba($color: primary(500), $alpha: 1);
				cursor: pointer;
			}
		}
	}

	.mat-column-details {
		.product-details-row-container {
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			height: 128px;

			h3 {
				font-weight: bold;
			}
		}
	}

	.mat-column-price {
		h3 {
			font-weight: 500;
			margin: 0;
		}
	}

	.mat-column-total {
		padding: 12px;
		text-align: end;
		
		h3 {
			font-weight: 500;
			margin: 0;
		}
	}

	#voucher-input-container {
		margin-bottom: -12px;
  	}

	.actions-button {
		text-decoration: underline;
		text-underline-offset: 4px;
		transition: color 0.2s cubic-bezier(0.25,0.46,0.45,0.94);

		&:hover {
			cursor: pointer;
			color: sMain();
		}
	}
}

.values-container { 
	margin-bottom: 24px;
	animation: ContainerInit 0.4s forwards cubic-bezier(0.25,0.46,0.45,0.94);
	h3 {
		margin: 0 !important;
		font-size: 14px;
	}
}