.no-content-icon {
	font-size: 64px;
	height: 64px;
	width: 64px;
}

.no-content-container {
	text-align: center;
	margin-bottom: 24px;

	h2 {
		margin-block: 8px;
	}
}

.items-container {
	margin-bottom: 24px;

	h3 {
		font-weight: bold;
		margin: 0;
	}

	.mat-mdc-cell {
		vertical-align: middle;
		max-height: 135px;
		padding: 12px;
	}

	.mat-column-image {
		&.mat-mdc-cell {
			width: 128px !important;
			height: 128px !important;
		}

		h3 {
			padding-left: 12px;
		}

		img {
			max-width: 128px;
			max-height: 128px;
			object-fit: cover;
			border-radius: 24px;
		}
	}

	.mat-column-details {
		.product-details-row-container {
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			height: 128px;

			h3 {
				font-weight: bold;
			}
		}
	}

	.mat-column-total {
		padding: 12px;
		text-align: end;
	}
}

.cell-row-text {
	font-weight: bold;
}
