@import "src/_palettes.scss";

.no-content-icon {
	font-size: 64px;
	height: 64px;
	width: 64px;
}

.no-content-container {
	text-align: center;
	margin-bottom: 24px;

	h2 {
		margin-block: 8px;
	}
}

.items-container {
	margin-bottom: 24px;

	h3 {
		font-weight: bold;
		margin: 0;
	}

	.mat-mdc-cell {
		vertical-align: middle;
		max-height: 135px;
		padding: 12px;
	}

	.mat-column-image {
		&.mat-mdc-cell {
			width: 128px !important;
			height: 128px !important;
		}

		h3 {
			padding-left: 12px;
		}

		img {
			max-width: 128px;
			max-height: 128px;
			object-fit: cover;
			border-radius: 8px;
			transition: box-shadow 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

			&:hover {
				box-shadow: 0 0 0px 3px rgba($color: primary(500), $alpha: 1);
				cursor: pointer;
			}
		}
	}

	.mat-column-details {
		.product-details-row-container {
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			height: 128px;

			h3 {
				font-weight: bold;
			}
		}
	}

	.mat-column-total {
		padding: 12px;
		text-align: end;
	}
}

.cell-row-text {
	font-weight: bold;
}
