<main
	class="container details-page-container"
	fxLayout="row wrap">
	<section
		class="images-container"
		fxLayoutGap="10"
		fxLayout="row-reverse nowrap"
		fxFlex="70"
		fxFlex.md="60"
		fxFlex.lt-md="100"
		ngStyle.gt-xs="padding-right: 32px;"
		ngStyle.lt-md="margin-bottom: 32px">
		<img
			fxFlex="100"
			class="image-selected"
			src="https://secure-static.vans.com.br/medias/sys_master/vans/vans/h0c/hd5/h00/h00/11122230460446/1002000850150U-01-BASEIMAGE-Hires.jpg" />
	</section>
	<section
		class="order-form"
		fxFlex="30"
		fxFlex.md="40"
		fxFlex.lt-md="100">
		<div fxFlex="100">
			<article
				fxLayout="column nowrap"
				style="margin-bottom: 14px">
				<h1 style="font-size: 24px; font-weight: bold; margin: 0">{{ this.product?.name }}</h1>
				<app-shopping-product-rating></app-shopping-product-rating>
				<h2 style="font-size: 10px; color: grey !important; font-weight: bold">REF: {{ this.product?.ref }}</h2>
			</article>
			<article
				class="price-form"
				fxLayout="column nowrap"
				style="margin-bottom: 24px">
				<s style="font-size: 12px; color: grey; font-weight: bold">{{ this.product?.value | currency : "BRL" }}</s>
				<h1 style="font-size: 24px; font-weight: bold">{{ this.product?.value | currency : "BRL" }}</h1>
			</article>
			<div>
				<button
					style="max-width: 100% !important"
					[ngClass]="{ 'product-added': this.productAddedToCart }"
					mat-raised-button
					(click)="this.addToCart()"
					color="primary"
					[disabled]="this.productAddedToCart || this.loadingService.isLoading()"
					[ngSwitch]="this.loadingService.isLoading()">
					<mat-spinner
						*ngSwitchCase="true"
						color="primary"
						diameter="28"></mat-spinner>
					<ng-container *ngSwitchDefault>{{
						this.productAddedToCart ? "ITEM ADDED" : "ADD TO CART"
					}}</ng-container>
					<mat-icon
						*ngIf="this.productAddedToCart"
						class="mat-18"
						>check</mat-icon
					>
				</button>
			</div>
			<div>
				<mat-tab-group [disableRipple]="false">
					<mat-tab>
						<ng-template mat-tab-label>
							<mat-icon>description</mat-icon>
							&nbsp; Details
						</ng-template>
						<div class="tab-content-container">
							<p>
								{{ this.product?.description }}
							</p>
						</div>
					</mat-tab>
					<mat-tab>
						<ng-template mat-tab-label>
							<mat-icon>local_shipping</mat-icon>
							&nbsp; Calc delivery
						</ng-template>
						<div class="tab-content-container">
							<form>
								<mat-form-field>
									<mat-label>Type your postal code</mat-label>
									<input
										matInput
										required
										maxlength="8"
										placeholder="Ex. 89900000" />
								</mat-form-field>
								<button
									mat-flat-button
									type="submit"
									style="max-width: 100% !important"
									color="warn">
									Calculate
								</button>
							</form>
						</div>
					</mat-tab>
				</mat-tab-group>
			</div>
		</div>
	</section>
</main>
