@import "../../../../../palettes";

.details-page-container {
	padding-block: 68px;
}

.image-selected {
	object-fit: contain;
	object-position: left top;
}

.tab-content-container {
	margin-top: 24px;
	overflow: hidden;
	min-height: 248px;
}
