$primary-pallete: (
 50: #fafafa,
 100: #f5f5f5,
 200: #f0f0f0,
 300: #e2e2e2,
 400: #c0c0c0,
 500: #a1a1a1,
 600: #787878,
 700: #636363,
 800: #444444,
 900: #232323,
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: rgba(black, 0.87),
   400: rgba(black, 0.87),
   500: rgba(black, 0.87),
   600: white,
   700: white,
   800: white,
   900: white
 )
);

$accent-pallete: (
 50:#fbe9e7 ,
 100: #ffccbc,
 200:#ffac91,
 300:#ff8b65,
 400:#ff7143,
 500: #ff5921,
 600: #f4531d,
 700: #e64c18,
 800: #d84514,
 900: #bf380b,
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: rgba(black, 0.87),
   400: white,
   500: white,
   600: white,
   700: white,
   800: white,
   900: white
 )
);
