@import "bootstrap/dist/css/bootstrap-grid.min.css";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap");
@import "ngx-toastr/toastr";

html,
body {
  height: 100%;
}
body {
  position: relative;
  margin: 0;
}

* {
  font-family: "Source Sans Pro", sans-serif;
}

mat-form-field {
  width: 100%;
}

mat-card-title {
  width: 100%;
}

mat-card-header {
  margin-bottom: 16px;
}

mat-card {
  padding: 16px;
}

.form-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}
