@import "bootstrap/dist/css/bootstrap-grid.min.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,900;1,700&display=swap");
@import "ngx-toastr/toastr";

html,
body {
  height: 100%;
}
body {
  position: relative;
  margin: 0;
}

* {
  font-family: "Nunito";
}

mat-form-field {
  width: 100%;
}

mat-card-title {
  width: 100%;
}

mat-card-header {
  margin-bottom: 16px;
}

mat-card {
  padding: 16px;
}

.form-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

.mdc-button {
  width: 100% !important;
  max-width: 248px !important;
}

mat-card-actions {
  padding-inline: 16px !important;
}

.mat-mdc-card {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px !important;
  border-radius: 16px !important;
}
