<mat-card fxFlex class="card-product no-animation">
	<mat-card-header class="card-product-header" (click)="this.openProductDetails()" fxLayoutAlign="center">
		<img src="https://secure-static.vans.com.br/medias/sys_master/vans/vans/h0c/hd5/h00/h00/11122230460446/1002000850150U-01-BASEIMAGE-Hires.jpg"
			alt="{{ this.product?.name }}" />
	</mat-card-header>
	<mat-card-content class="card-product-body">
		<div fxLayout="column nowrap" fxLayoutAlign="space-between">
			<span>
				<h3 class="m-0">{{ this.product?.name }}</h3>
				<app-shopping-product-rating 
					[setProductRating]="this.product?.productRating">
				</app-shopping-product-rating>
			</span>

			<p class="card-product-price-discount">
				<s>{{ this.product?.value | currency : "BRL" }}</s>
			</p>
			<p class="card-product-price-actual">{{ this.product?.value | currency : "BRL" }}</p>
		</div>
	</mat-card-content>
	<mat-card-footer style="padding: 12px;">
		<button
			[ngClass]="{ 'product-added': this.productAddedToCart }"
			mat-flat-button
			(click)="this.addToCart()"
			color="primary"
			[disabled]="this.productAddedToCart || (this.tryingAddToCart == true && this.loadingService.isLoading())"
			[ngSwitch]="this.tryingAddToCart == true && this.loadingService.isLoading()">
			<mat-spinner
				*ngSwitchCase="true"
				color="primary"
				diameter="28"></mat-spinner>
			<ng-container *ngSwitchDefault>{{
				this.productAddedToCart ? "ITEM ADDED" : "ADD TO CART"
			}}</ng-container>
			<mat-icon
				*ngIf="this.productAddedToCart"
				class="mat-18"
				>check</mat-icon
			>
		</button>
	</mat-card-footer>

	<button mat-mini-fab class="favorite-button" [ngClass]="{ isfavorite: this.isFavorite }"
		(click)="this.favoriteProduct()">
		<mat-icon>{{ this.isFavorite ? "favorite" : "favorite_border" }}</mat-icon>
	</button>
</mat-card>