@import "../../../../palettes";

.favorite-button {
	position: absolute;
	right: 0px;
	top: 0px;
	box-shadow: none;
	transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
	opacity: 0;
	background-color: white;
	color: primary(900);
}

@keyframes is-favorite {
	0% {
		transform: scale(100%);
	}
	50% {
		transform: scale(128%);
	}
	100% {
		transform: scale(100%);
	}
}

.favorite-button.isfavorite {
	box-shadow: none;
	opacity: 100%;
	transform: translate(0, 0);
	color: secondary(500);
	animation: is-favorite 0.5s forwards cubic-bezier(0.17,0.84,0.44,1);
	animation-delay: 50ms;
}

.card-product-price-discount {
	font-size: smaller;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

.card-product-price-actual {
	font-size: large;
	font-weight: bold;
}

.card-product {
	overflow: hidden;

	&:hover {
		.favorite-button {
			transform: translate(0px, 0px);
			opacity: 100%;
			box-shadow: none;

			&:hover {
				color: secondary(500);
				box-shadow: none;
			}
		}
	}
}

.card-product-header {
	max-width: 100%;
	padding: 0 !important;
	height: 228px;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	&:hover {
		cursor: pointer;
	}
}
