@import "../../../../palettes";

.favorite-button {
	position: absolute;
	right: 4px;
	top: 4px;
	box-shadow: none;
	transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
	opacity: 0;
	background-color: white;
	color: pMain();
}

@keyframes is-favorite {
	0% {
		transform: scale(100%);
	}
	50% {
		transform: scale(128%);
	}
	100% {
		transform: scale(100%);
	}
}

.favorite-button.isfavorite {
	box-shadow: none;
	opacity: 100%;
	transform: translate(0, 0);
	background-color: transparent;
	color: secondary(500);
}

.card-product {
	overflow: hidden;
	padding: 0;

	&:hover {
		.favorite-button {
			transform: translate(0px, 0px);
			opacity: 100%;
			box-shadow: none;

			&:hover {
				color: secondary(500);
				box-shadow: none;
			}
		}
	}
}

.card-product-header {
	margin: 0;
	padding: 0 !important;
	aspect-ratio: 1/1;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&:hover {
		cursor: pointer;
	}
}

.card-product-body {
	padding: 16px;

	h3 {
		font-weight: bold;
	}

	.card-product-price-discount {
		font-weight: normal;
		color: #111;
		margin: 0;
		padding: 0;
		font-size: 12px;
	}
	
	.card-product-price-actual {
		font-size: large;
		font-weight: bold;
		font-size: 14px;
	}
}
