<div class="container">
  <div fxLayout="row wrap">
    <mat-card fxFlex="100">
      <mat-card-header>
        <mat-card-title>Title</mat-card-title>
        <mat-card-subtitle>Subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end">
        <button mat-fab>
          <mat-icon class="mat-18">save</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card fxFlex="50">
      <mat-card-header>
        <mat-card-title>Title</mat-card-title>
        <mat-card-subtitle>Subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end">
        <button mat-fab>
          <mat-icon class="mat-18">save</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
