@import "./../../../../palettes";

.home-ad-background {
  background-color: primary(900);
  color: primaryContrast(900);
  padding-block: 88px;
}

.home-ad {
  padding-inline: 64px;
  height: 100%;
}

.home-ad-description {
  height: 100%;

  h2 {
    font-size: small;
    color: #bbb;
    margin-bottom: 0;
    margin-left: 4px;
  }

  .consumer-depoyiment-container {
    margin-top: 0;

    h1 {
      font-size: 24px;
      margin-bottom: 8px;
    }

    p {
      font-size: small;
      color: #bbb;
      margin: 0;
      margin-right: 24px;
    }
  }
}
