<div>
  <header class="home-ad-background">
    <div
      class="container"
      style="height: 100%">
      <div
        class="home-ad"
        fxLayout="row wrap"
        style="height: 100%">
        <div
          class="home-ad-description"
          fxLayout="column nowrap"
          fxLayoutAlign.xs="center center"
          fxLayoutAlign.sm="center center"
          fxLayoutAlign="center start"
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex="50"
          [ngStyle.xs]="{ 'text-align': 'center' }"
          [ngStyle.sm]="{ 'text-align': 'center' }"
          [ngStyle]="{ 'text-align': 'end' }">
          <div
            class="consumer-depoyiment-container"
            fxLayout="column nowrap"
            fxLayoutAlign.xs="center center"
            fxLayoutAlign.sm="center center"
            fxLayoutAlign="center end">
            <h1>
              <i>"Elevated my lifestyle with quality and innovation"</i>
            </h1>
            <p>- Samuel de Carvalho</p>
          </div>
        </div>
        <div
          fxLayout="column nowrap"
          fxLayoutAlign="center center"
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex="50">
          <button
            [ngStyle.xs]="{ 'margin-top': '24px' }"
            [ngStyle.sm]="{ 'margin-top': '24px' }"
            mat-raised-button
            color="accent">
            SEE ALL MODELS
          </button>
        </div>
      </div>
    </div>
  </header>
  <main>
      <app-general-catalog/>
  </main>
</div>
