@import "./../../../../palettes";

:host::ng-deep {
	#fixed-toolbar mat-toolbar {
		background: transparent !important;
	}

	#scrolled-toolbar {
		position: fixed;
		opacity: 0;
		width: 100%;
		z-index: 999;
		transition: opacity 0.1s ease-in;
		box-shadow: rgba($color: #000000, $alpha: 0.4) 0 0 24px;
	}
}

.home-header-container {
	position: relative;
	padding-block: 0 88px;
	height: 100vh;
}

.home-header-background {
	position: absolute;
	z-index: -999;
	width: 100%;
	height: 100%;
	background: url(../../../../assets/imgs/bg2.jpg);
	background-size: cover;
	background-position: center;
	filter: brightness(60%) grayscale(100%);
}

.home-header {
	height: 100%;
	color: white;

	.home-header-announce-type {
		font-weight: lighter;
		font-style: italic;
		text-align: end;
	}

	.home-header-announce-title {
		font-weight: bolder;
		font-size: 48px;
		text-align: end;
	}

	.home-header-announce-description {
		text-align: end;
	}
}

.home-header-description {
	height: 100%;

	h2 {
		font-size: small;
		color: #bbb;
		margin-bottom: 0;
		margin-left: 4px;
	}

	.consumer-depoyiment-container {
		margin-top: 0;

		h1 {
			font-size: 24px;
			margin-bottom: 8px;
		}

		p {
			font-size: small;
			color: #bbb;
			margin: 0;
			margin-right: 24px;
		}
	}
}

.catalog-container {
	padding-top: 32px;
}
