@import '../../../../../palettes';

.title-container {
  margin-bottom: 16px;
  * {
    margin: 0;
    padding: 0;
  }

  .see-more-container {
    a {
      font-weight: bold;
      margin-left: 12px;
      color: secondary(500);
    }

    a:hover{
      cursor: pointer;
      color: secondary(200);
    }
  }
}
