<div class="container">
  <form
    fxLayoutAlign.gt-xs="center"
    class="form-container"
    [formGroup]="this.loginForm"
    (ngSubmit)="login()">
    <mat-card fxLayout="column">
      <mat-card-header>
        <mat-card-title>Access your account</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="column">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              formControlName="email"
              placeholder="youremail@email.com" />
            <mat-error *ngIf="getControlError('email', 'email')">Invalid email</mat-error>
            <mat-error *ngIf="getControlError('email', 'required')">Type your email</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="hidePassword ? 'password' : 'text'"
              formControlName="password"
              type="password" />

            <button
              mat-icon-button
              matSuffix
              (click)="hidePassword = !hidePassword">
              <mat-icon>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error *ngIf="getControlError('password', 'required')">Type your password</mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
        <button
          mat-flat-button
          color="primary">
          Login
        </button>
      </mat-card-actions>
      <mat-card-footer
        class="pt-2"
        fxLayout="row nowrap"
        fxLayoutAlign="center flex-end">
        <h5>First time in our rocket? <a [routerLink]="['/account/register']">Register now</a></h5>
      </mat-card-footer>
    </mat-card>
  </form>
</div>
